<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

    <input type="email" required name="username" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    #username="ngModel">
    <br><br>
    <br/>

    <div *ngIf="username.touched">
      <p *ngIf="username.errors?.required">Email is a required field!</p>
      <p *ngIf="username.errors?.pattern">This is not a valid Email!!!</p>
    </div>
    <br><br>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid"> Submit</button>

</form>