<div class="container">
    <h1><b>Password Resetting</b></h1>
    <br>
    <h4>Please enter your new password</h4>
       
    <form [formGroup]="form" (ngSubmit)="submit()">
           
        <div class="form-group">
            <label for="password">Password</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input 
                formControlName="password"
                id="password" 
                type="password" 
                class="form-control">
            <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                <div *ngIf="f.password.errors.required">Password is required.</div>
            </div>
        </div>
  <br>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>&nbsp;
            <input 
                formControlName="confirm_password"
                id="confirm_password" 
                type="password" 
                class="form-control">
            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>